* {
    margin: 0;
    padding: 0;
}

.hero_section {
    background-image: url(../img/bg.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100vh;
    z-index: 1;
}

#poly-output canvas {
    opacity: 0.9;
}

.poly-content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

@font-face {
    font-family: "Myriad Pro";
    font-variant: normal;
    font-style: normal;
    font-weight: bold;
    src: url("#FontID0") format(svg)
}

.fil6 {
    fill: #fff;
}

.fil4 {
    fill: transparent;
    fill-rule: nonzero
}

.fil3 {
    fill: transparent;
    fill-rule: nonzero
}

.fil1 {
    fill: #FFFFFF;
    fill-rule: nonzero
}

.fil2 {
    fill: #2A569F;
    fill-rule: nonzero
}

.fil5 {
    fill: #FFFFFF;
    fill-rule: nonzero
}

.fil0 {
    fill: #fff;
    fill-rule: nonzero
}

.fnt0 {
    font-weight: bold;
    font-size: 882.656px;
    font-family: 'Myriad Pro'
}

.fil1,
.fil2,
.fil5 {
    animation: fil1 2s forwards;
    fill: transparent;
    stroke-width: 60px;
    stroke: #Fff;
    stroke-dashoffset: 18616;
    stroke-dasharray: 18616;
    z-index: 2000;
}

.fil0 {
    fill: #fff;
    opacity: 0;
    animation: opacity 1s forwards;
}

#_1843036923856 {
    fill: #fff;
    transform: translateX(200%);
    opacity: 0;
    animation: segunda-edicao 4s forwards;
    animation-delay: .7s;
}

@keyframes opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fil1 {
    0% {
        stroke-dashoffset: 18616;
        fill: transparent;
    }
    50% {
        fill: transparent;
        stroke-width: 60px;
    }
    70% {
        stroke-dashoffset: 0;
    }
    100% {
        fill: #Fff;
        stroke-width: 0
    }
}

@keyframes segunda-edicao {
    0% {
        transform: translateX(200%);
    }
    30% {
        transform: translateX(200%);
        opacity: 0;
    }
    50% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}
/* TIMELINE */


.timeline_section {
    padding: 100px 0;
}
.timeline_section h1 {
    text-align: center
}

.timeline_section h1:after {
    content: '';
    width: 5%;
    margin: 30px auto 0;
    height: 1px;
    background: #aaa;
    display: block;
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background-color: inherit;
    
}

.timeline:after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #3290B1;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: 1px;
}

.timeline--first:after {
    top: 20px;
}

.era {
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
}

.era__title {
    background-color: #3290B1;
    color: #EEEEEE;
    display: inline-block;
    padding: 10px 20px;
    
    cursor: default;
}

.entry {
    padding: 10px 30px 40px ;
    width: 50%;
    position: relative;
    background-color: inherit;
}

.entry--right {
    margin-left: 50%;
}

.entry__content {
    padding: 20px 70px;
    background-color: #FFFFFF;
    position: relative;
    
    cursor: default;
    transition: all 0.3s ease 0s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.entry__content .row {
    align-items: center;
}
.entry__content:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.entry__img {
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    margin-bottom: 20px;
    cursor: pointer
}
.entry__img img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 0 10px;
}
figure {
    margin: 0;
}

.entry:before {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: calc(45% + 12px);
    right: 10px;
    width: 21px;
    z-index: 1;
    background: #3290B1;
    z-index: -1;
}

.entry:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: -14px;
    background-color: #FFF;
    border: 1px solid #3290B1;
    top:45%;
    border-radius: 50%;
    z-index: 1;
}

.entry--right:after {
    right: auto;
    left: -11px;
}
.entry--right:before {
    right: auto;
    left: 10px;
}

.entry--right .entry__img {
    align-items: center;
    justify-content: flex-start;
}
.entry--left {
    text-align: right
}

h2 {
    color: #525252;
    margin-bottom: 0.5em;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

p {
    color: #686868;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

@media all and (max-width: 500px) {
    .timeline:after {
        left: 33.75px;
    }
    .era {
        text-align: left;
        padding-left: 31.875px;
    }
    .entry {
        width: 100%;
        margin-left: 0;
        padding-left: 64px;
        padding-right: 20px;
    }
    .entry:before {
        right: auto;
        left: 56px;
        margin-left: 0;
    }
    .entry:after {
        left: 15px;
    }
}