#eventMap {
  position: relative;
  width: 100%;
  height: 600px; // background: red;
}

.map-info {
    .lnr-graduation-hat, .lnr-phone, .lnr-map {
        color: #004587;
        font-size: 25px;
        font-weight: 100;
        border: 1px solid #004587;
        padding: 10px;
        border-radius: 50%;

      }
    .logo {
        text-align: center;
        img {
            width: 70%;
        }
        margin-bottom: 40px;
    }
    height: auto;
    a {
        color: #004587;
        font-size: 14px;
    }
    .btn {
        flex: 1;
        line-height: 20px;
        font-family: "Raleway", Helvetica, sans-serif;
        .info {
            margin-top: 15px;
        }
    }
}
