.partners_section {
    padding: 100px 0;
    position: relative;
    text-align: center;
    img {
        width: 50vw;
    }
    h1 {
        font-size: 3em;
        letter-spacing: 3px;
        font-weight: 700;
        &:after {
            content: '';
            width: 5%;
            margin: 30px auto 15px;
            height: 1px;
            background: #aaa;
            display: block;
        }
    }
    .companies {
        flex-wrap: wrap;
        max-width: 550px;
        margin: 0 auto;
        padding: 0px 0;
        .logo {
            margin: 5px;
            cursor: pointer;
            &-mock {
                width: 160px;
                height: 100px;
                background: #aaa;
                border-radius: 3px;
                position: relative;
                transition: transform .2s;
                // &:before {
                //     content: '';
                //     position: absolute;
                //     top: 50%;
                //     left: 50%;
                //     transform: translate(-50%, -50%);
                //     color: $white;
                //     font-size: 36px;
                //     font-weight: 600;
                // }
            }
            &:hover {
                transform: scale(1.05);
            }
            &.f5-grafica {
                background: url('https://scontent.fpoa12-1.fna.fbcdn.net/v/t1.0-9/19554587_1603308773039209_5239502873966552249_n.png?_nc_cat=111&oh=314b73cdeb69c0353c69a3ea80055b14&oe=5C5E8DE9') no-repeat center center;
                background-size: contain;
            }
            &.acpo {
                background: url('../../img/acpo.png') no-repeat center center;
                background-size: contain;
            }
            &.bridge {
                background: url('../../img/bridge.png') no-repeat center center;
                background-size: contain;
            }
            &.bolanarede {
                background: url('../../img/bolanarede.jpeg') no-repeat center center;
                background-size: contain;
            }
            &.atacadoglobo {
                background: url('../../img/atacado-globo.jpg') no-repeat center center;
                background-size: contain;
            }
            &.izy {
                background: url('../../img/izy.png') no-repeat center center;
                background-size: contain;
            }
            &.mariachi {
                background: url('../../img/mariachi.png') no-repeat center center;
                background-size: contain;
            }
            &.uvel {
                background: url('../../img/uvel.jpg') no-repeat center center;
                background-size: contain;
            }
            &.keep {
                background: url('../../img/academia-keep.jpg') no-repeat center center;
                background-size: contain;
            }
            &.escritorio {
                background: url('../../img/escritorio.jpg') no-repeat center center;
                background-size: contain;
            }
            &.silveira {
                background: url('../../img/silveira.jpg') no-repeat center center;
                background-size: contain;
            }
            &.efbit {
                background: url('../../img/efbit.jpg') no-repeat center center;
                background-size: contain;
            }
            &.cigam {
                background: url('../../img/cigam.jpg') no-repeat center center;
                background-size: contain;
            }
            &.nodo {
                background: url('../../img/nodo.png') no-repeat center center;
                background-size: contain;
            }
            &.possible {
                background: url('../../img/possible.png') no-repeat center center;
                background-size: contain;
            }
            &.nave {
                background: url('../../img/nave.png') no-repeat center center;
                background-size: contain;
            }
            &.izyplay {
                background: url('../../img/izyplay.png') no-repeat center center;
                background-size: contain;
            }
            &.social_midia {
                background: url('../../img/social_midias.png') no-repeat center center;
                background-size: contain;
            }
            &.imperatriz {
                background: url('../../img/imperatriz.png') no-repeat center center;
                background-size: contain;
            }
            &.voleio {
                background: url('../../img/voleio.jpg') no-repeat center center;
                background-size: contain;
            }
        }
    }
}
