.partners_section {
    padding: 100px 0;

    h1 {
        text-align: center;
        font-size: 3em;
        letter-spacing: 3px;
        font-weight: 700;
        &:after {
            content: '';
            width: 5%;
            margin: 30px auto 15px;
            height: 1px;
            background: #aaa;
            display: block;
        }
    }

    .companies {
        flex-wrap: wrap;
        max-width: 550px;
        margin: 0 auto;
        padding: 50px 0;
        
        .logo {
            margin: 15px;
            cursor: pointer;

            &-mock {
                width: 100px;
                height: 100px;
                background: #aaa;
                border-radius: 50px;
                position: relative;
                transition: transform .2s;

                &:before {
                    content: 'L';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    color: $white;
                    font-size: 36px;
                    font-weight: 600;

                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}