/*
    Bold: 600
    Regular: 400
    Normal: 200
*/

@font-face {
    font-family: "Myriad Pro";
    font-variant: normal;
    font-style: normal;
    font-weight: bold;
    src: url("#FontID0") format(svg)
}

  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal; 
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-keyboard-arrow-up:before {
    content: "\e901";
  }
  .icon-arrow-up-right:before {
    content: "\e900";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  