#modal-inscricao {
    >.card {
        max-width: 540px;
        padding: 30px;
    }
    .column {
        position: relative;
    }

    .dropdown dd ul {
        z-index: 999;
        padding: 0;
    }

}